@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Asap|Dosis|KoHo');

html {
  padding: 0px;
  margin: 0px;
  height:100%;    
}

.App {
  min-height: 100% !important;
  height: 100%;
}

.title-right {
  font-size: 12px;
  /* color: black; */
  text-align: right;
  position: absolute;
  margin-left: 80%;
  margin-top: -24px;
  padding: 6px;
  color: rgb(237, 235, 235) !important;
  border: 1px solid rgb(237, 235, 235) !important;
}

#annoying {
  position: absolute;
  margin-top: -4.5px;
  margin-left: -1px;
  color: white;
  font-size: 20px;
  display: none;
}

.title-right:hover {
  cursor: pointer;
  font-size: 13px;
}

.title-right:hover > #enlarge{ 
  opacity: 0;
}

.title-right:hover > #annoying{ 
  display: block;
}

.title-left {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 20px; */
}

.App-header {
  background-color: rgb(76, 82, 90);
  /* height: 35px; */
  padding: 0px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Maven Pro', sans-serif;
  height: 50px;
} 

h1 {
  padding: 0px;
  margin: 0px;
}

.App-header h1{
  color: rgb(237, 235, 235) !important;
  padding-top: 15px;
  padding-left: 8%;
  font-size: 18px;
}

body {
  height: 100%;
}

.App-content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; 
  min-height: 100%;
  height: 100%;
}

.App-content2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; 
  height: 130px;
}

.Todo {
  position: relative;
  border: 1px solid rgb(247, 183, 93);
  font-family: 'Maven Pro', sans-serif;
  color: rgb(76, 82, 90);
}

.Doing {
  position: relative;
  border: 1px solid rgb(149, 211, 86);
  font-family: 'Maven Pro', sans-serif;
  color: rgb(76, 82, 90);
}

.Done {
  position: relative;
  border: 1px solid rgb(207, 212, 221);
  font-family: 'Maven Pro', sans-serif;
  color: rgb(76, 82, 90);
}

/* .ass {
 padding-left: 0px;
 height:100%;
} */

.border {
  padding: 0px;
  margin: 0px;
}

/* h1.App-title {
  background-color: rgb(76, 82, 90);
  padding: 0px;
} */

.App-intro {
  font-size: large;
}

li {
  list-style-type: none;
}

ul {
  padding-right: 44px;
  justify-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.List {
  display: flex;
  flex-direction: column;
  color: green;
}

.taskTitle {
  padding: 20px;
  color: rgb(105, 108, 113);
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
  height:100%;    
}

.desc {
  display: none;
}

.x {
  position: absolute;
  top: 2px;
  right: 10px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  cursor: pointer;
  color: red;
  display: none;
}

.edit {
  position: absolute;
  top: 20px;
  right: 115px;
  display: none;
}

.edit2 {
  position: absolute;
  bottom: -1px;
  left: 70px;
}

.edit:hover {
  cursor: pointer;
}

.task:hover {
  cursor: pointer;
}

.task:hover .x {
  display: inline-block;
}

.task:hover .edit {
  display: inline-block;
}

.task:hover .expand {
  display: inline-block;
  opacity: 1;
}

.ActionItem {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.card {
  font-size: 14px;
  display: block;
}

.EditItem {
  display: none;
}

.EditForm input[type=text], textarea {
  text-align: center;
  border: none;
  background-color: rgba(106, 106, 106, 0.091);
  width: 80%;
}

.expand {
  position: absolute;
  font-size: 11px;
  top: 35px;
  left: 125px;
  color: grey;
  display: none;
  opacity: 0;
}

.expand:hover {
  color: rgb(113, 113, 113);
  cursor: pointer
}

.showless {
  position: absolute;
  font-size: 11px;
  bottom: 2px;
  left: 115px;
  color: grey;
}

.showless:hover {
  color: rgb(113, 113, 113);
  cursor: pointer
}

.noshow {
  display: none;
}

.isHighlighted {
  font-weight: none;
}

.short {
  height: 10px !important;
}

.rodal-dialog {
  height: 130px !important;
}

.padding {
  padding: 20px;
}

#addSubmit {
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: rgb(92, 92, 92) !important;
  border: 1px solid rgb(135, 135, 135) !important; 
}

#addSubmit:hover {
  cursor: pointer;
  font-size: 13px;
}

.title-right-plus {
  font-size: 13px;
  /* color: black; */
  text-align: right;
  position: absolute;
  margin-left: 90%;
  margin-top: -24px;
  padding: 6px;
  color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer;
}

.title-right-minus {
  font-size: 13px;
  /* color: black; */
  text-align: right;
  position: absolute;
  margin-left: 88.5%;
  margin-top: -24px;
  padding: 6px;
  color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer;
}

#Home {
  cursor: pointer;
}