@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Asap|Dosis|KoHo');

html {
  padding: 0px;
  margin: 0px
}

.App {
  /* text-align: left; */
}

.title-right {
  font-size: 12px;
  /* color: black; */
  text-align: right;
  position: absolute;
  margin-left: 80%;
  margin-top: -24px;
  padding: 6px;
  color: rgb(237, 235, 235) !important;
  border: 1px solid rgb(237, 235, 235) !important;
}

#annoying {
  position: absolute;
  margin-top: -4.5px;
  margin-left: -1px;
  color: white;
  font-size: 20px;
  display: none;
}

.title-right:hover {
  cursor: pointer;
  font-size: 13px;
}

.title-right:hover > #enlarge{ 
  opacity: 0;
}

.title-right:hover > #annoying{ 
  display: block;
}

.title-left {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 20px; */
}

.App-header {
  background-color: rgb(76, 82, 90);
  /* height: 35px; */
  padding: 0px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Maven Pro', sans-serif;
  height: 50px;
} 

h1 {
  padding: 0px;
  margin: 0px;
}

.App-header h1{
  color: rgb(237, 235, 235) !important;
  padding-top: 15px;
  padding-left: 8%;
  font-size: 18px;
}

.App-wrapper {
  text-align: center;
  width: 100%;
}

.App-content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Todo {
  border: 1px solid rgb(247, 183, 93);
  font-family: 'Maven Pro', sans-serif;
  color: rgb(76, 82, 90);
}

.Doing {
  border: 1px solid rgb(149, 211, 86);
  font-family: 'Maven Pro', sans-serif;
  color: rgb(76, 82, 90);
}

.Done {
  border: 1px solid rgb(207, 212, 221);
  font-family: 'Maven Pro', sans-serif;
  color: rgb(76, 82, 90);
}

.ass {
 padding-left: 0px;
}

.border {
  padding: 0px;
  margin: 0px;
}

/* h1.App-title {
  background-color: rgb(76, 82, 90);
  padding: 0px;
} */

.App-intro {
  font-size: large;
}

li {
  list-style-type: none;
}

ul {
  padding-right: 44px;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.List {
  display: flex;
  flex-direction: column;
  color: green;
}

.myh1 {
  padding: 20px;
  color: rgb(105, 108, 113);
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
}

.desc {
  display: none;
}

.x {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: red;
  display: none;
}

.task:hover {
  cursor: pointer;
}

.task:hover .x {
  display: inline-block;
}

.ActionItem {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.card {
  font-size: 14px;
}